<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <packages_conf>
            <package_items_group>
                <priceper1kg>50</priceper1kg>
            </package_items_group>
        </packages_conf>
    </default>
</config>
