<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <emails>
                <sender>general</sender>
                <new_user_active_template>admin_emails_new_user_active_template</new_user_active_template>
                <new_user_reject_template>admin_emails_new_user_reject_template</new_user_reject_template>
            </emails>
        </admin>
    </default>
</config>
