<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Norsys_Team::team_management" title="Team Management" sortOrder="900">
                    <resource id="Norsys_Team::team_members" title="team members" sortOrder="50"/>
                    <resource id="Norsys_Team::teams_manage" title="teams manage" sortOrder="51"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Norsys_Team::team_config" title="Team Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
