<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="norsys_team_listing_data_source" xsi:type="string">
                    Norsys\Team\Model\ResourceModel\TeamMember\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Norsys\Team\Model\ResourceModel\TeamMember\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">norsys_team_member</argument>
            <argument name="resourceModel" xsi:type="string">
                Norsys\Team\Model\ResourceModel\TeamMember
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="norsys_teams_listing_data_source" xsi:type="string">
                    Norsys\Team\Model\ResourceModel\Team\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Norsys\Team\Model\ResourceModel\Team\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">norsys_team</argument>
            <argument name="resourceModel" xsi:type="string">
                Norsys\Team\Model\ResourceModel\Team
            </argument>
        </arguments>
    </virtualType>
</config>
