<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Norsys_Ticket::menu" title="Ticket Menu" sortOrder="10" >
                    <resource id="Norsys_Ticket::view" title="View Tickets" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
