<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Norsys_ProductStock::Stock" title="Stock" sortOrder="10" >
                    <resource id="Norsys_ProductStock::ManageStock" title="ManageStock" sortOrder="50" />
                    <resource id="Norsys_ProductStock::ProductStock" title="ProductStock" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
